<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp - so cool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans antialiased text-gray-900">
    <div class="relative bg-gray-50 overflow-hidden">
      <div class="relative pt-6 pb-12 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
        <%= render partial: 'layouts/menu_top' %>
        <main class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28">
          <% flash.each do |type, message| %>
            <%= render 'shared/notice', type: type, message: message %>
          <% end %>
          <%= yield %>
          <slot />
        </main>
      </div>
    </div>
    <%= render partial: 'layouts/footer' %>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
